<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Miles Harrison </title>
        <link rel="stylesheet" href="../static/styles/app.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>

    <body>
        <!-- top menu goes here -->
        <section class="nav" id="topnav"></section>

        <section class="overview">
            <div class="container">
                <div class="overview-content">
                    <h1> Football League Simulator Project </h1>
                    <p> Language: python </p> 
                    <p> Library/environment: processing </p>
                    <p> I have always been interested in sports and statistics, so this project was an attempt to combine the two to create fun game. I started this project during the covid lockdown after graduating high school and spent most of the summer working on it. I worked on and off on this project for the next year or two before finally deciding the code had become too much of a mess to maintain. I'm happy with the product, but this is also taught me a lesson about making sure my code is maintainable. Unfortunately, this project is difficult to share, so instead I have some screenshots highlighting the game's features. Click through the images on the bottom to see different screens and descriptions. </p>
                </div>
            </div>
        </div>

        <section class="main-image">
            <div class="container">
                <div id="main-image-repl"></div>
            </div>
        </section>

        <section class="next-images">
            <div class="container">
                <div id="next-images-repl"></div>
            </div>
        </section>

        <section class="main-desc">
            <div class="container">
                <div id="main-desc-repl"></div>
            </div>
        </section>

        <!-- bottom menu goes here -->
        <section class="nav" id="bottomnav"></section>

        <script src="../data/fb_images.json"></script>
        <script src="../scripts/project.js"></script>
        <script src="../scripts/fb_game.js"></script>
        <script src="../scripts/app.js"></script>
        <script>
            loadNavbar();
            loadNavbar('#bottomnav', '../template/bottomnav.html');
            loadFbPage();
        </script>
    </body>
</html>