<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/app.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>

    <body>
        <!-- top menu goes here -->
        <section class="nav" id="topnav"></section>

        <embed src="../images/Miles Harrison Resume.pdf" style="width:100%; height:100vh" />

        <!-- bottom menu goes here -->
        <section class="nav" id="bottomnav"></section>

        <script src="../scripts/project.js"></script>
        <script src="../scripts/app.js"></script>
        <script>
            loadNavbar();
            loadNavbar('#bottomnav', '../template/bottomnav.html');
        </script>
    </body>
</html>