<section class="content">
    <div class="container">
        <p> Switching this project over from a tkinter interface to a web interface would be doable but time consuming. It is a project I am considering for the future, but for now I can provide a tkinter app if you are interested to see how the program works. You can click the link below to download it. Unfortunately, it probably only works on windows machines. </p> <br>
        <a href="data/data_visualizer.zip" download> Download version 0.1.0 </a> <br>
        <p> Some notes:<br> Many screens will have you click update or apply more times than you would want.<br> You can scroll in on the graphs, but you can't move around.<br> I like the color orange.<br> The individual tab is new and has limited features.<br> The tournaments tab was mostly abandoned, so may be incomplete/buggy. </p>
    </div>
</section>